
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    
}

:root {
    --color-1:#28435e;
    --color-2: #151336;
    --color-3: #63d3cd; 

}

a:hover {
    background-color: var(--color-3);
    color: var(--color-2);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color-2);
    padding: 15px 0 15px 0; 
}

header h1 {
    position: relative;
    text-align: right;
    background-color: var(--color-3);
    color: var(--color-2);
    padding: 13px 20px 0 80px;
    font-size: 70px;
    background-size: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: right;
    text-align: center;
    padding: 6px 20px;
    margin: 60px 60px 10px 0;
}

nav a {
    padding: 0 10px;
    font-size: 30px;
    color: var(--color-3);
}

.bike-pic {
    background-image: url("./images/my-bike-photo.jpg");
    background-color: gray;
    background-position: center;
    display: flex;
    text-align:end;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;
    min-height: 500px;
    margin: 0;
}

.bike-pic h3 {
    font-size: 30px;
    color: var(--color-2);
    background-color: var(--color-3);
    padding: 20px 10px;
    line-height: 15px;
    display: flex;
    align-self:flex-end;
}

main h2,h3 {
    color: var(--color-1);
}

main h2 {
    font-size: 90px;
}

main h3 {
    font-size: 25px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}

main h4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.wrapper {
    display: grid;

}

.left-border {
    margin: 38px 0;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.left-border h2 {
    display: flex;
    text-align: center;
    padding-right: 15px;
    border-bottom: 3px solid var(--color-1);
    font-size: 70px;
}

.right-text {
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.work-images {
    border: 10px var(--color-3);
    width: 80%;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
 }

main a {
    color: var(--color-1)
}

main a:hover {
    background-color: var(--color-1);
    color: var(--color-3);
}

.refactoring.img {
    background-image: url("./images/pexels-antonio-batinić-4164418.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1% 3% 2% 0;

}
footer {
    text-align: center;
    color: var(--color-1);
}

